#placeholder-header {
    visibility: hidden;
    height: 0px !important;
}

@media screen and (min-width: 768px) {
#maincontent {
    min-height: 480px!important;
}
}

@media screen and (max-width: 767px) {
#maincontent {
    min-height: 380px!important;
}
#hc {
    margin-bottom: 0px;
}
}

@media screen and (min-width: 1920px) {
#hc img {
    max-width: 1920px;
}
}
#hc {
    margin-bottom: 30px;
}
.breadcrumbs {
    display: none;
}
.header {
    position: relative !important;
}
.carousel-indicators {
    bottom: 0px;
}
a.left.carousel-control, a.right.carousel-control {
    color: #fff !important;
}
.carousel-caption {
    bottom: 0 !important;
    padding-bottom: 0px !important;
}
.carousel-control {
    opacity: .0;
}

@media screen and (max-width: 767px) {
.carousel-control {
    opacity: .6;
    bottom: 50px;
}
}
.carousel-control.left, .carousel-control.right {
    background-color: transparent !important;
    background-image: none !important;
}
.text-area-home h2 {
    line-height: 30px;
    padding-top: 10px;
}
.btn-default.ez-red {
    color: #ffffff !important;
    background-color: #e31837 !important;
    border-color: #e31837 !important;
    margin-bottom: 25px;
}
.btn-default.ez-red:hover {
    color: #ffffff !important;
    background-color: #231f2a !important;
    border-color: #231f2a !important;
}